server/.env
server/node_modules/
client/flash-cards/.env
client/flash-cards/node_modules/
.vscode/launch.json
client/flash-cards/.next/app-build-manifest.json
client/flash-cards/.next/build-manifest.json
client/flash-cards/.next/fallback-build-manifest.json
client/flash-cards/.next/react-loadable-manifest.json
client/flash-cards/.next/trace
client/flash-cards/.next/cache/.rscinfo
client/flash-cards/.next/server/app-paths-manifest.json
client/flash-cards/.next/server/interception-route-rewrite-manifest.js
client/flash-cards/.next/server/middleware-build-manifest.js
client/flash-cards/.next/server/middleware-manifest.json
client/flash-cards/.next/server/middleware-react-loadable-manifest.js
client/flash-cards/.next/server/next-font-manifest.js
client/flash-cards/.next/server/next-font-manifest.json
client/flash-cards/.next/server/pages-manifest.json
client/flash-cards/.next/server/server-reference-manifest.js
client/flash-cards/.next/server/server-reference-manifest.json
client/flash-cards/.next/static/development/_buildManifest.js
client/flash-cards/.next/static/development/_clientMiddlewareManifest.json
client/flash-cards/.next/static/development/_ssgManifest.js
